.containerNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D0D0D;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}


.ulItems {
    display: flex;
    list-style: none;
    user-select: none;
}

.liItems > p{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    user-select: none;
}

.liItems > p:hover{
    cursor: pointer;
}

.liItems > p:focus{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #7D79F2, 0 0 30px #7D79F2, 0 0 40px #7D79F2, 0 0 55px #7D79F2, 0 0 75px #7D79F2, 0px 16px 14px rgba(125,121,242,0);
}



.liItems {
    margin: 0px 50px 0px 50px;
    user-select: none;
}

@media screen and (max-width: 800px) {
    .ulItems {
      display: none;
    }
  }